.user-search__container {
    margin: 30px; 
}

.user-search__go-back-home-button{
    float:right;
    width: 150px;
    height: 30px;
    background: #00AE8C;
    border-radius: 4.5px;
    border: none;
}

.user-search__go-back-home-button:hover{
    background:#00AE8C;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user-search__go-back-home-text {
    color: #FFFFFF;
}

.user-search__input-container {
    padding-top: 20px;
    width: 300px;
    box-shadow: inset;
}

.user-search__input {
    width: 100%;
    margin-bottom: 20px;
}

.user-search__card {
    width: 40%;
    margin-bottom: 20px;
}