.user-search__container {
    margin: 30px; 
}

.user-search__go-back-home-button{
    width: 150px;
    height: 30px;
    background: #00AE8C;
    border-radius: 4.5px;
    border: none;
}

.user-search__go-back-home-button:hover{
    background:#00AE8C;
    
}

.user-search__go-back-home-text {
    color: #FFFFFF;
}

.user-search__input-container {
    padding-top: 20px;
    width: 300px;
    box-shadow: inset;
}

.user-search__input {
    width: 80%;
}