.search {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  margin: 10px 15px 10px 15px;
}

.searchbar {
  margin: 10px 15px 10px 15px;
  padding: 3px;
  border-radius: 5px;
}

.title {
  font-size: 30px;
  text-align: center;
}

.users {
  font-family: Inter;
  border-collapse: collapse;
  margin: 10px 15px 10px 15px;
  border-radius: 5px;
}

.users td, .users th {
  border: 1px solid #ddd;
  padding: 8px;
}

.users tr:nth-child(even){background-color: #f2f2f2;}

.users th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #00ae8c;
  color: white;
}
