.Search {
  text-align: center;
}
/* 
.title {
  font-size: 30px;
  text-align: center;
} */

.users {
  /* font-family: Inter; */
  border-collapse: collapse;
  width: 100%;
}

.users td, .users th {
  border: 1px solid #ddd;
  padding: 8px;
}

.users tr:nth-child(even){background-color: #f2f2f2;}

.users th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #00ae8c;;
  color: white;
}
